<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Safe Space</title>
  <%- include ../../partials/libraries.ejs %>
</head>
<body>
<div class="image-container">
  <div class="space-background"></div>
  <div class="after">
    <div class="login-stuff">
      <h1>Welcome to Safe Space</h1>
      <p>The <i>only</i> cloud storage solution with bully-proof windows and troll-safe doors!</p>
      <a href="/login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Sign Up or log in with Google
      </a>
    </div>
  </div>
</div
</body>
</html>