<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><%= profileInfo.name %>'s Profile</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <form method="post" enctype="multipart/form-data" action="/fileUpload">
                    <div class="file_input_div">
                        <div class="file_input">
                            <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                                <i class="material-icons">attach_file</i>
                                <input id="file_input_file" name="testFile" class="none" type="file" />
                            </label>
                        </div>
                        <div id="file_input_text_div" class="mdl-textfield mdl-js-textfield textfield-demo">
                            <input class="file_input_text mdl-textfield__input" type="text" disabled readonly
                                   id="file_input_text"/>
                            <label class="mdl-textfield__label" for="file_input_text"></label>
                        </div>
                    </div>
                    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect upload-btn"
                           type="submit" value="Upload File" disabled />
                </form>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect logout-btn" href="/logout">Logout</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Options</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/logout">Logout</a>
        </nav>
    </div>
    <script>
        var fileInputTextDiv = document.getElementById('file_input_text_div');
        var fileInput = document.getElementById('file_input_file');
        var fileInputText = document.getElementById('file_input_text');
        fileInput.addEventListener('change', changeInputText);
        fileInput.addEventListener('change', changeState);

        function changeInputText() {
            var str = fileInput.value;
            var i;
            if (str.lastIndexOf('\\')) {
                i = str.lastIndexOf('\\') + 1;
            } else if (str.lastIndexOf('/')) {
                i = str.lastIndexOf('/') + 1;
            }
            fileInputText.value = str.slice(i, str.length);
        }

        function changeState() {
            if (fileInputText.value.length != 0) {
                if (!fileInputTextDiv.classList.contains("is-focused")) {
                    fileInputTextDiv.classList.add('is-focused');
                }
            } else {
                if (fileInputTextDiv.classList.contains("is-focused")) {
                    fileInputTextDiv.classList.remove('is-focused');
                }
            }
        }

        $(document).ready(
                function(){
                    $('input:submit').attr('disabled',true);
                    $('input:file').change(
                            function(){
                                if ($(this).val()){
                                    $('input:submit').removeAttr('disabled');
                                }
                                else {
                                    $('input:submit').attr('disabled',true);
                                }
                            });
                });
    </script>
</div>