<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><%= profileInfo.name%>'s Profile</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <form method="post" enctype="multipart/form-data" action="/fileUpload">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
            <input class="mdl-textfield__input" placeholder="File" type="text" id="uploadFile" readonly/>
            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
              <i class="material-icons fileUploadSon">file_upload</i><input type="file" id="uploadBtn">
            </div>
          </div>
          <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect upload-btn" type="submit" value="Upload File" />
        </form>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect logout-btn" href="/logout">Logout</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Options</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
</div>